# Begin password protection #
AuthName "Password Protected"
Require valid-user
AuthUserFile "/home/users/web/b2611/nf.photochops/public_html/pianohobby.com/videos/.htpasswd"
AuthType basic
# End password protection #

